@media screen and (max-width:980px) {
    .all {
        height: 100% !important;
    }
    footer {
        position: relative !important;
        bottom: -55px !important;
        left: 0;
    }
}

@media screen and (max-width:850px) {
    .all {
        min-height: max-content !important;
    }
    footer {
        position: relative !important;
    }
}