body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.all {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -40px;
}

.all .main {
    max-width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 15px;
    margin: 10px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.left,
.right {
    /* border: 2px solid black; */
    margin: 10px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.main .img {
    width: 400px;
    height: 500px;
    overflow: hidden;
    clip-path: circle(35%);
    shape-outside: circle(35%);
    shape-margin: 15px;
    background: linear-gradient(rgb(192, 192, 192), rgb(255, 255, 255));
    transition: all 1s;
    filter: grayscale(0%);
    user-select: none;
}

.main .img:hover {
    animation: animate 1s;
}

@keyframes animate {
    0% {
        transform: scale(1);
        filter: grayscale(10%);
    }
    50% {
        transform: scale(1.10);
        filter: grayscale(70%);
    }
    100% {
        transform: scale(1);
        filter: grayscale(0%);
    }
}

.main .img img {
    width: 100%;
    height: 100%;
    position: relative;
    top: 80px;
    left: 8px;
    overflow: hidden;
    outline: none;
    border: none;
}

.main .cert {
    margin: 5px;
    margin-top: 10px;
    width: 200px;
    height: 100px;
    padding: 5px;
    user-select: none;
    background-color: #f1f1f1e1;
    border: 2px solid #646464;
    border-radius: 15px;
    box-shadow: 0 0 7px 1px rgb(105, 105, 105);
}

.main .cert img {
    height: 100%;
    width: 100%;
    outline: none;
}

.main .text {
    /* border: 2px solid black; */
    padding: 20px;
    width: 550px;
    text-indent: 25px;
    /* text-align: justify; */
    font-size: 22px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.main .right {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main .right .text .hello {
    /* border: 2px solid black; */
    width: 100%;
    text-align: center;
    font-size: 34px;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 5px;
    font-family: 'Courier New', Courier, monospace;
}

.main .right .text .hello .name {
    color: crimson;
    margin-top: 10px;
    font-size: 1.25em;
}

@media (max-width:750px) {
    .all {
        margin-top: 0;
    }
    .main .right .text {
        width: 425px !important;
    }
    .main .right .text .hello {
        display: flex;
        flex-direction: column;
        margin-bottom: -5px;
    }
    .main .right .text .hello .name {
        margin-bottom: 10px;
    }
    .main .cert {
        margin-bottom: 30px;
    }
    .main .img {
        width: 300px;
        height: 400px;
    }
}