    @import url("mediaQueries.css");
    html {
        height: 100%;
    }
    
    body {
        scroll-behavior: smooth;
        scroll-snap-type: both mandatory;
        height: 100%;
    }
    
    .all {
        width: 100%;
        min-height: 100%;
        /* position: relative; */
        transform-style: preserve-3d;
        perspective: 500px;
        overflow: hidden;
        background: url("images/mainback.jpg");
        background-size: cover;
        background-position: center;
        background-origin: border-box;
        background-attachment: fixed;
        background-blend-mode: soft-light;
        /* padding-top: 60px; */
    }
    
    .main {
        width: 100%;
        min-height: min-content;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: space-around;
        overflow: visible !important;
        padding-bottom: 0.5em;
        /* margin-top: 60px; */
        padding-top: 60px;
    }
    
    .main .left {
        width: 400px;
        height: 500px;
        position: relative;
        perspective: 800px;
        user-select: none;
    }
    
    .main .left img {
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        transform: rotateY(7deg) scale(0.9);
        transition: 0.4s linear;
    }
    
    .main .left img:hover {
        transform: rotateY(-2deg) scale(1);
    }
    
    .main .left .hireme {
        width: min-content;
        /* margin: 12px auto; */
        margin-left: 70px;
        display: flex;
        flex-direction: column;
        position: relative;
        top: -25px;
        left: -30px;
    }
    
    .main .left .hireme ul li {
        width: max-content;
        display: inline-flex;
        flex-direction: column;
        list-style-type: none;
        background: var(--menuback);
        border-radius: 10px;
        transition: 0.2s linear;
    }
    
    .main .left .hireme ul li a {
        width: max-content;
        font-size: 25px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 5px 20px;
        /* margin: auto 10px; */
        text-align: center;
        color: var(--bodyback);
        text-decoration: none;
        transition: 0.2s linear;
        font-weight: 200;
        /* line-height: 1.5; */
    }
    
    .main .left .hireme ul li:hover {
        transform: scale(1.1);
    }
    
    .main .right {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* right: 70px; */
        /* top: 2em; */
    }
    
    .main .right .hello {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-transform: capitalize;
        letter-spacing: 1.2px;
        color: lawngreen;
        padding: 5px 20px 5px 0;
        font-size: 20px;
        position: relative;
        bottom: 20px;
        font-weight: 600;
        font-style: italic;
    }
    
    .main .right .head {
        font-family: var(--headlinefont);
        text-transform: capitalize;
        letter-spacing: 1.2px;
        /* text-decoration: underline solid var(--bodyback); */
        color: var(--logoColor);
        padding: 5px 20px 5px 0;
        font-size: 60px;
        position: relative;
        bottom: 20px;
    }
    
    .main .right .para {
        max-width: 550px;
        min-height: max-content;
        position: relative;
        /* top: 20px; */
        text-align: center;
        font-size: 20px;
        color: black;
        font-weight: 600;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    .main .right .cert {
        width: 200px;
        height: 100px;
        position: relative;
        top: 70px;
        user-select: none;
    }
    
    .main .right .cert img {
        width: 100%;
        height: 100%;
        /* transform: scale(1.15); */
        background: var(--bodyback);
        border-radius: 20px;
        transition: 0.3s linear;
    }
    
    .main .right .cert:hover img {
        background: whitesmoke;
        box-shadow: 0 0 7px grey;
    }
    
    .footermain {
        width: 100%;
        /* background: var(--headback); */
        height: 45px;
        margin-top: auto;
        position: relative;
        bottom: 0;
        left: 0;
        font-size: 1.4em;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 1em;
        color: var(--certColor);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }