:root {

    --blue: #3d5a80ff;
    --cerulean: #98c1d9ff;
    --cyan: #e0fbfcff;
    --sienna: #ee6c4dff;
    --gunmetal: #293241ff;

    --red: #e63946ff;
    --lightblue: #f1faeeff;
    --powderblue: #a8dadcff;
    --celadonblue: #457b9dff;
    --prussianblue: #1d3557ff; 
}

@font-face {
    font-family: breadlySansFont;
    src: url(../font/BreadleySans-Regular.ttf);
}
@font-face {
    font-family: breadlySerifFont;
    src: url(../font/BreadleySerif-Regular.ttf);
}
@font-face {
    font-family: aubreyFont;
    src: url(../font/AUBREY1__.TTF);
}
@font-face {
    font-family: royalFont;
    src: url(../font/RoyalInitialen.ttf);
}

body section {
    /* border: 2px solid black; */
    /* height: 510px; */
    padding: 10px;
    margin-top: 75px;
    box-sizing: border-box;
    overflow: auto;
    border-radius: 7px;
    width: 90%;
}

.education {
    /* height: 100%; */
    /* margin-bottom: -9px; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.education h2 {
    color: var(--prussianblue);
    font-size: 40px;
    text-align: center;
    text-transform: capitalize;
    text-decoration: underline var(--logoColor);
    /* background: var(--headback); */
}

.education .container {
    /* position: relative; */
    display: flex;
    flex-wrap: wrap;
    padding: 5px 20px;
    justify-content: center;
    align-content: center;
    width: 100%;
    margin-top: 35px;
    /* min-height: 300px; */
    /* overflow: hidden; */
}

.education .container .card {
    width: 320px;
    min-height: 310px;
    max-height: min-content;
    padding: 10px 20px;
    margin: 30px 25px;
    background: var(--headback);
    box-shadow: 6px 6px 10px rgba(1, 12, 27, 0.7);
    background: radial-gradient(rgb(51, 139, 127),rgb(16, 78, 63));
    transition: 0.2s ease-in-out;
    border-radius: 15px;
}

.education .container .card .contentbox {
    width: 100%;
    /* height: 100%; */
}

.education .container .card h2 {
    position: relative;
    top: -35px;
    left: 0px;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
    border-radius: 10px;
    height: 50px;
    background: var(--blue);
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 35px;
    box-shadow: 0px 0px 5px var(--headback);
}

.education .container .card .contentbox .text{
    position: relative;
    top: -10px;
}

.education .container .card .contentbox .text span {
    display: inline;
    color: var(--bodyback);
    color: rgb(230, 230, 230);
    text-align: left;
    margin: 10px 0;
    font-weight: 600;
    font-size: 18px;
}

.education .container .card .contentbox .text .val {
    display: inline-flex;
    margin-left: 15px;
    color: var(--logoColor);
    font-weight: 500;
    font-size: 17px;
}

.education .container .card:hover {
    transform: scale(1.03);
}

@media (min-width:350px) and  (max-width:800px) {
    .container {
        /* border: 2px solid red; */
        margin-top: 55px !important;
    }
}