@import url("../all.css");
@font-face {
    font-family: logoFont;
    src: url("fonts/AUBREY1__.TTF");
}

@font-face {
    font-family: bodyfont;
    src: url("fonts/Garamond\ Bold\ font.ttf");
}

@font-face {
    font-family: headlinefont;
    src: url("fonts/Garamond\ Bold\ font.ttf");
}

@font-face {
    font-family: contentfont;
    src: url("fonts/GARAM.ttf");
}

:root {
    --back: #e9585e;
    --menutext: #1d2541;
    --linksback: #3d5089;
    --line: #5f70b2;
    --linkhovercolor: lawngreen;
}

.header {
    width: 100%;
    height: 65px;
    /* background-color: var(--headback); */
    box-sizing: border-box;
    /* box-shadow: 0 0 5px black; */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    background: rgb(243, 243, 243);
    padding-left: 20px;
    /* box-shadow: 0 0 7px grey; */
}

.header .menu .menutext {
    color: var(--menutext);
    font-family: 'Poppins', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 8px;
    font-size: 14px;
    position: fixed;
    top: 50px;
    font-weight: 600;
}

.header .menubtn {
    width: 55px;
    height: 70px;
    box-sizing: border-box;
    /* background: var(--menuback); */
    position: fixed;
    top: 0;
    left: 12;
    align-self: start;
    display: flex;
    cursor: pointer;
    transition: all linear;
    z-index: 10;
    /* background: white; */
}

.header .menubtn .middle {
    width: 35px;
    height: 4.5px;
    border-radius: 5px;
    background-color: var(--headback);
    align-self: center;
    margin: 0 auto;
    transition: all 0.4s ease-out;
    background-color: var(--back);
}

.header .menubtn .middle::before,
.header .menubtn .middle::after {
    content: "";
    width: 35px;
    height: 4.5px;
    border-radius: 5px;
    background-color: var(--headback);
    position: absolute;
    transition: all 0.4s ease-in-out;
    background-color: var(--back);
}

.header .menubtn .middle::before {
    transform: translateY(-11px);
}

.header .menubtn .middle::after {
    transform: translateY(11px);
}

.header .open .middle {
    transform: rotate(90deg);
    transform: rotate(90deg);
    background: transparent;
}

.header .open .middle::before {
    transform: rotate(45deg);
}

.header .open .middle::after {
    transform: rotate(-45deg);
}

.links {
    width: 285px;
    background: var(--menutext);
    display: none;
    position: fixed;
    top: 75px;
    left: 5px;
    z-index: 10;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

.links ul li  {
    border-bottom: 1px solid var(--line);
    overflow: hidden;
    display: block;
    padding: 12px 0 12px 20px;
    font-family: sans-serif;
    font-weight: 600;
    color: hsl(0, 0%, 85%);
    user-select: none;
    letter-spacing: 1px;
    text-decoration: none;
    transition: 0.25s ease-in-out;
    list-style-type: none;
}

.links ul li:last-child {
    border-bottom: none;
}

.links ul li:hover {
    background: var(--linksback);
    color: white;
    letter-spacing: 1.4px;
}

.header .toplinks {
    width: max-content;
    position: absolute;
    top: 9px;
    margin: auto;
    margin-left: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header .toplinks ul li {
    display: inline-flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0 7px;
}

.header .toplinks ul li a {
    font-size: 35px;
    padding: 7px;
    margin: auto;
    text-align: center;
    color: var(--menutext);
    text-decoration: none;
    border-bottom: 0px solid var(--logoColor);
    transition: 0.2s linear;
}

.header .toplinks ul li a:hover {
    /* color: var(--menuback); */
    color: hsl(225, 38%, 29%);
    transform: scale(1.13);
}

.header .toplinks ul li:not(:first-child) {
    border-left: 2px solid crimson;
}