:root {
    --bodyback: #ebebeb;
    --logoColor: #f7ce3e;
    --certColor: #f5f5f5;
    --linksColor: #f5f5f5;
    --headback: #1a2930;
    --menuback: #0b3c5d;
    --footerback: var(--headback);
    --menuLinkcolor: #c5c1c0;
    --menuLinkHover: #f7ce3e;
    --menuLinkHoverback: var(--bodyback);
    --logofont: logofont;
    --bodyfont: bodyfont;
    --headlinefont: headlinefont;
}

@font-face {
    font-family: logoFont;
    src: url("../fonts/AUBREY1__.TTF");
}

@font-face {
    font-family: bodyfont;
    src: url("../fonts/Didot-HTF-L96-Light.ttf");
}

@font-face {
    font-family: headlinefont;
    src: url("../fonts/Garamond\ Bold\ font.ttf");
}

@font-face {
    font-family: contentfont;
    src: url("../fonts/GARAM.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.education {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: grey url("../images/eduBack.jpg");
    background-size: cover;
    background-position: center;
    background-origin: border-box;
    background-attachment: fixed;
    background-blend-mode: soft-light;
    font-family: 'poppins', sans-serif;
}

.education img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.education>h2 {
    color: white;
    font-size: 50px;
    text-align: center;
    text-transform: capitalize;
    padding: 19px 0;
    text-decoration: underline var(--logoColor);
    background: var(--headback);
}

.education .home {
    width: 150px;
    height: 50px;
    position: absolute;
    top: 25px;
    left: -60px;
    text-align: right;
    user-select: none;
}

.education .home a {
    background-color: var(--bodyback);
    color: var(--headback);
    font-family: contentfont;
    font-size: 20px;
    display: block;
    padding: 10px 25px;
    border-radius: 0 10px 10px 0;
    transition: all 0.4s ease-in-out;
}

.education .home:hover a {
    color: crimson;
    transform: translateX(20px);
}

.education .container {
    position: relative;
    flex-wrap: wrap;
    display: flex;
    padding: 20px;
    justify-content: center;
    align-content: center;
    width: 100%;
    min-height: 489px;
}

.education .container .card {
    min-height: 300px;
    max-height: min-content;
    min-width: 270px;
    max-width: 350px;
    padding: 0px 30px 40px 30px;
    margin: 15px;
    background: var(--headback);
    box-shadow: 6px 6px 10px rgba(1, 12, 27, 0.7);
    border-image-width: 150px;
    background-image: url("../images/27610.jpg");
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.2s ease-in-out;
}

.education .container .card .contentbox {
    width: 100%;
    height: 100%;
}

.education .container .card h2 {
    position: relative;
    top: 0px;
    left: -30px;
    width: 121%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
    border-radius: 0 0 10px 10px;
    height: 50px;
    background: var(--headback);
    color: #32a3b1;
    text-decoration: none;
    text-align: center;
    font-size: 35px;
    box-shadow: 1px 1px 5px var(--headback);
}

.education .container .card .contentbox .text {
    padding-top: 25px;
}

.education .container .card .contentbox .text span {
    display: inline;
    color: var(--bodyback);
    text-align: left;
    margin: 10px;
    font-weight: 600;
}

.education .container .card .contentbox .text .val {
    display: inline-flex;
    margin-left: 20px;
    color: var(--logoColor);
    font-weight: 500;
}

.content .cerificates {
    width: 100%;
    height: min-content;
    margin-top: 100px;
    justify-self: center;
    margin-top: -1px;
    display: flex;
    flex-direction: column;
}

.education .container .card:hover {
    transform: scale(1.04);
}

.footer {
    background: var(--footerback);
    color: #f7f5eb;
    text-align: center;
    height: 40px;
    text-align: right;
    padding-right: 25px;
    line-height: 40px;
    font-size: 20px;
    width: 100%;
    position: relative;
    bottom: 0;
    font-family: 'poppins', sans-serif;
}

@media screen and (max-width:850px) {
    .education>h2 {
        padding-left: 50px;
    }
    .education .container {
        padding-top: 60px;
    }
}

@media screen and (max-width:1229px) {
    .education .container {
        padding-top: 60px;
    }
}