.education {
    width: 100%;
    min-height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.education img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.education>h2 {
    color: var(--menuback);
    font-size: 50px;
    text-align: center;
    text-transform: capitalize;
    padding: 19px 0;
    text-decoration: underline var(--logoColor);
    /* background: var(--headback); */
}

.education .home {
    width: 150px;
    height: 50px;
    position: absolute;
    top: 25px;
    left: -60px;
    text-align: right;
    user-select: none;
}

.education .home a {
    background-color: var(--bodyback);
    color: var(--headback);
    font-family: contentfont;
    font-size: 20px;
    display: block;
    padding: 10px 25px;
    border-radius: 0 10px 10px 0;
    transition: all 0.4s ease-in-out;
}

.education .home:hover a {
    color: crimson;
    transform: translateX(20px);
}

.education .container {
    position: relative;
    flex-wrap: wrap;
    display: flex;
    padding: 20px;
    justify-content: center;
    align-content: center;
    width: 100%;
    min-height: 489px;
    overflow: hidden;
}

.education .container .card {
    min-height: 300px;
    width: 320px;
    padding: 0px 30px 40px 30px;
    /* margin-left: 40px; */
    margin: 0 auto;
    background: var(--headback);
    box-shadow: 6px 6px 10px rgba(1, 12, 27, 0.7);
    border-image-width: 150px;
    background: url("../images/27610.jpg");
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.2s ease-in-out;
    border-radius: 30px;
}

.education .container .card .contentbox {
    width: 100%;
    height: 100%;
}

.education .container .card h2 {
    position: relative;
    top: -25px;
    left: 0px;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
    border-radius: 10px;
    height: 50px;
    background: var(--linksback);
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 35px;
    box-shadow: 1px 1px 5px var(--headback);
}

.education .container .card .contentbox .text {
    padding-top: 25px;
}

.education .container .card .contentbox .text span {
    display: inline;
    color: var(--bodyback);
    color: rgb(230, 230, 230);
    text-align: left;
    margin: 10px;
    font-weight: 600;
}

.education .container .card .contentbox .text .val {
    display: inline-flex;
    margin-left: 20px;
    color: var(--logoColor);
    font-weight: 500;
}

.content .cerificates {
    width: 100%;
    height: min-content;
    margin-top: 100px;
    justify-self: center;
    margin-top: -1px;
    display: flex;
    flex-direction: column;
}

.education .container .card:hover {
    transform: scale(1.04);
}