@import url("../all.css");
@font-face {
    font-family: logoFont;
    src: url("fonts/AUBREY1__.TTF");
}

@font-face {
    font-family: bodyfont;
    src: url("fonts/Garamond\ Bold\ font.ttf");
}

@font-face {
    font-family: headlinefont;
    src: url("fonts/Garamond\ Bold\ font.ttf");
}

@font-face {
    font-family: contentfont;
    src: url("fonts/GARAM.ttf");
}

:root {
    --bodyback: #ebebeb;
    --logoColor: #f7ce3e;
    --certColor: #f5f5f5;
    --linksColor: #f5f5f5;
    --headback: #1a2930;
    --menuback: #0b3c5d;
    --footerback: var(--headback);
    --menuLinkcolor: #c5c1c0;
    --menuLinkHoverback: var(--bodyback);
    --logofont: logofont;
    --bodyfont: bodyfont;
    --headlinefont: headlinefont;
    --textcolor: #c5c1c0;
}

.header {
    width: 100%;
    height: 70px;
    /* background-color: var(--headback); */
    box-sizing: border-box;
    /* box-shadow: 0 0 5px black; */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 15;
}

.header .logo {
    box-sizing: border-box;
    padding-top: 5px;
    color: var(--logoColor);
    font-size: 40px;
    margin-left: 75px;
    align-self: end;
    justify-self: center;
    height: 100%;
    visibility: hidden;
}

.header .logo a {
    width: 300px;
    height: 100%;
    margin-left: 15px;
    color: var(--logoColor);
    font-family: var(--logofont);
    text-decoration: none;
    user-select: none;
    display: block;
    padding-top: 5px;
    text-align: center;
    text-decoration: none;
}

.header .menubtn {
    width: 55px;
    height: 70px;
    box-sizing: border-box;
    /* background: var(--menuback); */
    position: fixed;
    top: 0px;
    left: 0;
    align-self: start;
    display: flex;
    cursor: pointer;
    transition: all linear;
    z-index: 10;
    /* background: white; */
}

.header .menubtn .middle {
    width: 35px;
    height: 4.5px;
    border-radius: 5px;
    background-color: var(--headback);
    align-self: center;
    margin: 0 auto;
    transition: all 0.4s ease-out;
}

.header .menubtn .middle::before,
.header .menubtn .middle::after {
    content: "";
    width: 35px;
    height: 4.5px;
    border-radius: 5px;
    background-color: var(--headback);
    position: absolute;
    transition: all 0.4s ease-in-out;
}

.header .menubtn .middle::before {
    transform: translateY(-11px);
}

.header .menubtn .middle::after {
    transform: translateY(11px);
}

.header .open .middle {
    transform: rotate(90deg);
    transform: rotate(90deg);
    background: transparent;
}

.header .open .middle::before {
    transform: rotate(45deg);
}

.header .open .middle::after {
    transform: rotate(-45deg);
}

.links {
    width: 250px;
    background: var(--menuback);
    display: none;
    box-shadow: 0 0 10px var(--headback);
    position: fixed;
    top: 70px;
    left: 0;
    z-index: 10;
}

.links ul li a {
    display: block;
    padding: 10px;
    padding-left: 20px;
    border-bottom: 1px solid var(--headback);
    font-family: sans-serif;
    font-weight: 650;
    color: var(--linksColor);
    user-select: none;
    letter-spacing: 1px;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.links ul li {
    list-style-type: none;
}

.links ul li:hover a {
    background: var(--headback);
    color: var(--logoColor);
    letter-spacing: 1.4px;
}

.header .toplinks {
    width: max-content;
    position: absolute;
    top: 10px;
    margin: auto;
    margin-left: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header .toplinks ul li {
    display: inline-flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0 7px;
}

.header .toplinks ul li a {
    font-size: 35px;
    padding: 7px;
    margin: auto;
    text-align: center;
    color: #1d1e22;
    text-decoration: none;
    border-bottom: 0px solid var(--logoColor);
    transition: 0.2s linear;
}

.header .toplinks ul li a:hover {
    /* color: var(--menuback); */
    color: #106bc0;
    transform: scale(1.13);
}

.header .toplinks ul li:not(:first-child) {
    border-left: 2px solid var(--logoColor);
}