.all {
    width: 100%;
    height: 100%;
}

.all .headline {
    color: var(--menuback);
    font-size: 50px;
    text-align: center;
    text-transform: capitalize;
    padding: 19px 0;
    text-decoration: underline var(--logoColor);
}

.all .allproj {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;
    margin-bottom: 42px;
}

.all .allproj .project {
    width: 440px;
    min-height: 300px;
    padding: 10px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    background: var(--headback);
    border-radius: 20px;
    box-shadow: 0 0 10px grey;
    color: whitesmoke;
    margin-left: 25px;
    justify-content: center;
    margin-left: 80px;
}

.all .allproj .project .numcontainer {
    width: 41px;
    height: 41px;
    position: relative;
    top: -25px;
    left: -25px;
}

.all .allproj .project .numcontainer .num {
    width: 98%;
    height: 98%;
    line-height: 1.4;
    background-color: var(--logoColor);
    font-size: 25px;
    text-align: center;
    border-radius: 10px;
    color: var(--menuback);
    box-shadow: 0 0 5px grey;
    z-index: 30;
}

.all .allproj .project .head {
    color: var(--linksColor);
    font-size: 32px;
    text-align: center;
    text-transform: capitalize;
    padding: 10px;
    text-decoration: underline var(--logoColor);
    position: relative;
    top: -25px;
}

.all .allproj .project .techs ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: -10px;
}

.all .allproj .project .techs ul li {
    list-style-type: none;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}

.all .allproj .project .techs ul li a {
    text-decoration: none;
    color: var(--bodyback);
    font-size: 30px;
}

.all .allproj .project .techs ul li:nth-child(1) a {
    color: #f16529;
}

.all .allproj .project .techs ul li:nth-child(2) a {
    color: #2965f1;
}

.all .allproj .project .techs ul li:nth-child(3) a {
    color: #f0db4f;
}

.all .allproj .project p {
    text-align: left;
    padding: 7px;
    color: white;
    font-size: 20px;
}

.all .allproj .project span {
    padding-left: 10px;
    color: var(--logoColor);
    font-size: 18px;
    text-align: justify !important;
}

.all .allproj .project span a {
    color: white;
    text-decoration: none;
    font-style: italic;
}

@media screen and (max-width:1150px)and (min-width:950px) {
    .all .allproj .project {
        width: 390px;
    }
}

@media screen and (max-width:1000px) and (min-width:750px) {
    .all .allproj .project {
        width: 365px;
        margin-bottom: 50px;
        margin-left: 50px;
    }
}

@media screen and (max-width:750px) {
    .all .headline {
        padding-top: 100px;
    }
    .all .project {
        margin-top: 50px;
    }
    .all .allproj .project {
        width: 380px;
        margin-bottom: 50px;
        margin-left: 50px;
    }
}