:root {
    --java: 91%;
    --c: 80%;
    --js: 85%;
    --css: 92%;
    --html: 88%;
    --jsp: 50%;
    --servlet: 60%;
    --spring: 60%;
    --jq: 80%;
    --mysql: 75%;
}

.all {
    width: 100%;
    min-height: 100%;
    margin-top: 10px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.all .head {
    color: var(--menuback);
    font-size: 50px;
    text-align: center;
    text-transform: capitalize;
    padding: 19px 0;
    text-decoration: underline var(--logoColor);
}

.all .header .toplinks {
    margin-top: -7px;
}

.all .allskills {
    width: 100%;
    min-height: 100%;
    box-sizing: border-box;
    margin-top: 25px;
    padding-left: 7%;
    padding-right: 2%;
}

.all .allskills .container {
    width: 350px;
    min-height: 230px;
    background: var(--headback);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    margin: 15px;
    float: left;
}

.all .allskills .container .headline {
    background-color: var(--linksback);
    color: whitesmoke;
    width: max-content;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    top: -35px;
    left: auto;
    justify-self: center;
}

.all .allskills .container ul li {
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin: 5px;
}

.all .allskills .container ul li .langlogo {
    display: flex;
    flex-direction: column-reverse;
}

.all .allskills .container ul li .langlogo span {
    color: white;
    font-size: 17px;
    width: min-content;
}

.all .allskills .container ul li .langlogo a {
    font-size: 30px;
}

.all .allskills .container ul li .langlogo .java {
    color: rgb(144, 238, 255);
}

.all .allskills .container ul li .langlogo .js {
    color: yellow;
}

.all .allskills .container ul li .langlogo .css {
    color: rgb(15, 138, 219);
}

.all .allskills .container ul li .langlogo .html {
    color: orange;
}

.all .allskills .container ul li .langlogo img {
    width: 30px;
}

.all .allskills .container ul li .langlogo .java img {
    width: 40px;
}

.all .allskills .container ul li .langlogo .jq img {
    width: 35px;
}

.barcon {
    width: 175px !important;
    border: 3px solid black;
    height: 30px;
    padding: 2px;
    box-sizing: border-box;
    background: rgb(59, 59, 59);
}

.barcon .bar {
    height: 100%;
    background: var(--logoColor);
}

.java .barcon .bar {
    width: var(--java);
}

.c .barcon .bar {
    width: var(--c);
}

.js .barcon .bar {
    width: var(--js);
}

.css .barcon .bar {
    width: var(--css);
}

.html .barcon .bar {
    width: var(--html);
}

.spring .barcon .bar {
    width: var(--spring);
}

.jq .barcon .bar {
    width: var(--jq);
}

.mysql .barcon .bar {
    width: var(--mysql);
}

.servlet .barcon .bar {
    width: var(--servlet);
}

.jsp .barcon .bar {
    width: var(--jsp);
}

@media screen and (max-width:1000px) {
    .head {
        margin-top: 75px;
    }
}